   <footer>
         <hr> <!-- defines a thematic change in content -->
             CST336 Internet Programming. 2019&copy Raya <br/>
             <strong>Disclaimer:</strong> The information is be fictitious and 
          It is used for academic purpposes only.
           <div>
              <img src="img/csumb.png" alt="Logo of CSUMB"/>
      
          </div>
    </footer>

        
    </body>
    <!-- closing body -->

</html>