<% include partials/header.ejs %>
          <h1>
                Grace hopper Achivemnets 
          </h1>
        </header><!-- defines a semantic section as a header -->
 <hr />
     
    <nav><!-- defines a semantic section as a navigation menu-->

          <a href="/">Home</a><!-- create a hyperlink  -->
          <a href="/education">Education</a>
          <strong> <a href="/achievements">Achivemnets</a> </strong>
          <a href="/impact">Impact</a>
      </nav>

  
 <main>
 
     <figure>
        <img src="/img/young.jpg" alt="Picure of GraceHopperearly days"/>
    </figure>
          <p class="important">
          Grace hopper Achivemnets are best known for her legacy of innovation and <br>
          contributions to computer programming, software development and the the <br>
          design and implemention of programming languages. <a href=https://www.biography.com/scientist/grace-hopper>for more information</a> 
          </p>
  </main>
 <% include partials/footer.ejs %>