<% include partials/header.ejs %>
          <h1>
           Grace hopper Education 
          </h1>
       </header><!-- defines a semantic section as a header -->
        <hr />
     
  <nav><!-- defines a semantic section as a navigation menu-->

          <a href="/">Home</a><!-- create a hyperlink  -->
          <strong><a href="/education">Education</a></strong>
          <a href="/achievements">Achivemnets</a>
          <a href="/impact">Impact</a>
  </nav>
     <br /> <br />
  
  <main>
 
        <figure>
        <img src="/img/ghEd.jpg" alt="Picure of GraceHopperearly days"/>
          
        </figure>
        <p class="important">
          Grace Murray Hopper born in 1906 was an American computer scientist<br>
          and United States Navy rear admiral. Grace attended Vassar College earning<br>
          a bachelors degree. Grace Hopper,then went to Yale University, where she earned her<br>
          Masters and PhD in Mathematics. <a href = https://en.wikipedia.org/wiki/Grace_Hopper >for more information</a> 
         
        </p>
  </main>
<% include partials/footer.ejs %>