<% include partials/header.ejs %>
            <h1>
              Grace hopper world impact
            </h1>
        </header><!-- defines a semantic section as a header -->
  <hr />
     
  <nav><!-- defines a semantic section as a navigation menu-->

          <a href="/">Home</a><!-- create a hyperlink  -->
          <a href="/education">Education</a>
          <a href="/achievements">Achivemnets</a>
          <strong><a href="/impact">Impact</a></strong>
  </nav>
      <br /> <br />
  
   <main>
 
     <figure>
          <img src="/img/gracehopper2019.png"alt="Gracehopper celebration" width = "450" height ="300" />
       
     </figure>
     

    
     <p class="important">
       The Grace Hopper Celebration of Women in Computing (GHC) is a <br>
       series of conferences designed to bring the research career <br>
       interests of women in computing to the forefront.It is the world's <br>
       largest gathering of women in computing.The celebration, named after <br>
       computer scientist Grace Hopper, is organized by the Anita Borg <br>
       Institute for Women and Technology and the Association for Computing <br>
       Machinery.  <a href=https://ghc.anitab.org/2019-attend/>for more information</a>
     </p> 
  </main>
  
<% include partials/footer.ejs %>