<% include partials/header.ejs %>
    
          <h1>
           History of the First Compiler 
          </h1>
           
       
      <hr>
     
  <nav><!-- defines a semantic section as a navigation menu-->

       <strong> <a href="/">Home</a></strong><!-- create a hyperlink  -->
          <a href="/education">Education</a>
          <a href="/achievements">Achivemnets</a>
          <a href="/impact">Impact</a>
   
  </nav>
      <br /> <br />
  
   <main>
      <figure>
        <img src="img/GraceHopper.png" alt="Picure of GraceHopperearly days"/>
     
     </figure>
          <p class="important">
            The first implemented compiler was written by Grace hopper in 1952. <br>
            Her A-O system was created for the UNIVAC-1 (Universal Automatic Computer 1) <br>
            which was the first general purpose electronic digital computer design. Grace Hopper <br>
            also conied the term "Compiler"  <a  href=https://en.wikipedia.org/wiki/History_of_compiler_construction >for more information</a> 
        </p>
 
      
   </main>
     
<% include partials/footer.ejs %>